In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Castro,BR,2021-03-04 03:56:24,-24.7911,-50.0119,62.85,94,100,3.27
1,1,Iqaluit,CA,2021-03-04 03:56:25,63.7506,-68.5145,-2.20,71,90,26.46
2,2,Vardo,NO,2021-03-04 03:56:25,70.3705,31.1107,21.20,73,40,13.80
3,3,Lasa,IT,2021-03-04 03:56:26,46.6166,10.7002,37.99,57,39,2.75
4,4,Winslow,US,2021-03-04 03:56:27,35.0242,-110.6974,55.40,26,20,28.77

In [9]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
#Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []

#for temp in max_temp:
    #temps.append(max(temp,0))

In [13]:
#Heatmap of temperature

#Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

#Get the maximum temperature
max_temp = city_data_df["Max Temp"]

#Assign the figure variable
fig = gmaps.figure(center=(30, 31), zoom_level=1.8)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

ValueError: weights must be of the same length as locations or None

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
15,15,Merauke,ID,2021-03-04 03:56:31,-8.4667,140.3333,85.03,69,100,12.46
23,23,Samarai,PG,2021-03-04 03:56:34,-10.6167,150.6667,84.85,74,100,11.27
25,25,Grand Gaube,MU,2021-03-04 03:56:34,-20.0064,57.6608,81.00,76,23,1.99
31,31,Noumea,NC,2021-03-04 03:56:36,-22.2763,166.4572,84.00,78,75,3.44
32,32,Kahului,US,2021-03-04 03:51:56,20.8947,-156.4700,75.20,64,40,24.16
38,38,Madimba,TZ,2021-03-04 03:56:39,-10.4000,40.3333,80.60,83,75,13.80
43,43,Hithadhoo,MV,2021-03-04 03:56:16,-0.6000,73.0833,83.05,59,6,7.34
47,47,Pacasmayo,PE,2021-03-04 03:56:42,-7.4006,-79.5714,75.40,72,89,10.42
48,48,Georgetown,MY,2021-03-04 03:56:43,5.4112,100.3354,87.80,62,20,3.44
52,52,Tainan,TW,2021-03-04 03:56:44,22.9908,120.2133,78.80,57,40,4.61

In [19]:
preferred_cities_df.count()

City_ID       142
City          142
Country       142
Date          142
Lat           142
Lng           142
Max Temp      142
Humidity      142
Cloudiness    142
Wind Speed    142
dtype: int64

In [38]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
15      Merauke      ID     85.03  -8.4667  140.3333
23      Samarai      PG     84.85 -10.6167  150.6667
25  Grand Gaube      MU     81.00 -20.0064   57.6608
31       Noumea      NC     84.00 -22.2763  166.4572
32      Kahului      US     75.20  20.8947 -156.4700
38      Madimba      TZ     80.60 -10.4000   40.3333
43    Hithadhoo      MV     83.05  -0.6000   73.0833
47    Pacasmayo      PE     75.40  -7.4006  -79.5714
48   Georgetown      MY     87.80   5.4112  100.3354
52       Tainan      TW     78.80  22.9908  120.2133

In [39]:

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"key" : g_key, "type" : "lodging", "radius" : 5000}

In [41]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [42]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
15,Merauke,ID,85.03,-8.4667,140.3333,PC
23,Samarai,PG,84.85,-10.6167,150.6667,Nuli Sapi
25,Grand Gaube,MU,81.00,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
31,Noumea,NC,84.00,-22.2763,166.4572,Hôtel Le Lagon
32,Kahului,US,75.20,20.8947,-156.4700,Maui Seaside Hotel
38,Madimba,TZ,80.60,-10.4000,40.3333,
43,Hithadhoo,MV,83.05,-0.6000,73.0833,Scoop Guest House
47,Pacasmayo,PE,75.40,-7.4006,-79.5714,Hotel Libertad
48,Georgetown,MY,87.80,5.4112,100.3354,Cititel Penang
52,Tainan,TW,78.80,22.9908,120.2133,Tie Dao Hotel

In [47]:
#Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [49]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
#Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))